.edu-logo {
    height: 120px;
    width: 120px;
}

.edu-logo-container {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    width: 100%;
}

@media screen and (max-width: 1366px) {
    .edu-logo {
        width: 90px;
        height: 90px;
    }

    .edu-logo-container {
        margin-top: 5%;
    }
}